@inject ProcessModel model
@inject HashSet<Role> actors

<article>
    @if (@Act.Proposition != null){
        <header>Production Fact: @Act.Proposition.Id.ToBase64()</header>
        <body>
            <form>
                <button @onclick="() => model.Act(Act)" disabled="@(Validate())">@Act.Intention @Act.Addressee.Name</button>
            </form>
        </body>
    } else {
        <body>
            <form>
                <select @bind="@Act.Addressee.Name" required>
                    <option disabled value="">Please select an addressee...</option>
                    @foreach(var role in actors){
                        <option>@role.Name</option>
                    }
                </select>
                <button @onclick="() => model.Act(Act)" disabled="@(Validate())">@Act.Intention @Act.Addressee.Name</button>
            </form>
        </body>
    }
</article>

@code {
    [Parameter]
    public required CommunicationAct Act { get; set; }

    private bool Validate()
    {
        return !actors.Where(a => a.Name == Act.Addressee.Name).Any();
    }

}